body {
margin: 5px;
padding: 5px;
font-family: sans-serif;
line-height: 150%;

}
#title {
height: 50px;
margin: 20px 0;
}
#canvas_container {  
width: 900px;  
border: 1px solid #aaa;
float: left;
}

.instructions {
float: left;
width: 250px;
clear: right;
margin: 10px;
}

.info p {
display: none;
margin: 5px;
padding: 0px;
width: auto;
max-width: 200px;
line-height: 150%;
}

.options {
position: absolute;
top: 90px;
left: 565px;
}

.options li a {
text-decoration: none;
color: #000;
display: block;
border: 1px solid #888;
margin: 0px;
padding: 2px;
}

.options li a:hover {
border-color: #000;
}
.options li.selected {
background-color: #caa;
}
<!--
#option-sq1.selected {
background-color: #2fbfbf;
}
#option-sq2.selected {
background-color: #77bf2f;
}
#option-sq4.selected {
background-color: #772fbf;
}
-->

.options li {
list-style-type: none;
margin-bottom: 3px;
}
.options ul {
padding-left: 5px;
}
.options > ul > li {
float:left;
margin: 10px;
}
